@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';


h1, h2, h3 {
    font-family: "Helvetica", "Arial", serif;
    color: #333;
}

nav {
    display: block;
    margin: 15px;
}

nav > a {
    padding: 15px;
    text-decoration: none;
    color: Black;
}

nav > a:hover {
    color: #e81c4f;
}

nav > a:active {
    color: red;
}

nav > a:visited {
    color: Black;
}

body {
  margin: 0 auto;
  max-width: 40em;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #555;
}

div.main-box {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px 20px 30px;
}

.main-box > article {
    padding: 0 0 1em 0;
}

.main-box > article > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-box > article > ul > li {
    display: inline;
}

.main-box > article > ul > li:nth-of-type(4), li:nth-of-type(5) {
    margin: 0px;
    float: right;
}

.main-box > article > ul > li > a:nth-child(5) {
    padding: 0 0 10px 0;
}

.main-box > article > ul > li > a {
    background-color: rgb(255, 227, 73);
    color: Black;
    padding: 10px 10px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

.main-box > article > span > a:hover {
    background-color: rgb(255, 215, 0);
}

div.main-box > h1, h2 {
    text-align: center;
}

.recent-runs {
    margin: 0 auto;
    max-width: 30em;
}
/* Form Styles */

input[type="date"]:not(:valid):before {
   content: attr(placeholder);
   // style it like it real placeholder
}

input[type=date] {
    font-family: "Helvetica", "Arial", serif;
}

input[type=text], input[type=password], input[type=date]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(255, 227, 73);
    color: Black;
    padding: 14px 20px;
    margin: 8px 0;
    font-size: 18pt;
    border-radius: 6px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(255, 215, 0);
}

.build-date {
    font-size: 12px;
    float: right;
}
