{% extends "base.html" %}

    {% block head %}
        <title> Add Run </title>
    {% endblock head %}

    {% block content %}
    <div class="main-box">
        <h1>Add Run</h1>
        <form class="" action="" method="post">
            {{form.hidden_tag()}}

            {{form.date_posted.label}}
            {{form.date_posted}}
            {% if form.date_posted.errors %}
                {% for error in form.date_posted.errors %}
                <p class="error-message">{{  error }}</p>
                {% endfor %}
            {% endif %}
<br>
            {{form.distance.label}}
            {{form.distance}}
<br>
            {{form.run_time.label}}
            {{form.run_time}}
<br>
            {{form.calories_burned.label}}
            {{form.calories_burned}}
<br>
            {{form.submit}}
        </form>
    </div>

    {% endblock content %}
