<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='honey.png') }}">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128689538-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-128689538-1');
        </script>


        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <nav>
            {% if current_user.is_authenticated %}
                Hi {{ current_user.username.title() }}!
            {% endif %}
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('add')}}">Add Run</a>
            <a href="{{url_for('dashboard')}}">Dashboard</a>
            {% if current_user.is_anonymous %}
                <a href="{{url_for('login')}}">Login</a>
                {% else %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </nav>
        <main>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        {% block content %}
        {% endblock content %}

        {% block footer %}
        <p class=build-date>Build date: {{ release_date }} at {{ release_time }}</p>
        {% endblock footer %}
        </main>
    </body>
</html>
