{% extends "base.html" %}
    {% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <title> Dashboard </title>
    {% endblock head %}
    {% block content %}
        <h2>Analyse all the data!</h2>

        <!-- {% for run in runs %}
        <p>{{run.date_posted}}</p>
        {% endfor %} -->

<style media="screen">

    body {
      margin: 0 auto;
      max-width: 90vw;
      font-family: "Roboto", sans-serif;
      line-height: 1.5;
      color: #555;
    }

    .chart1 {
        float: left;
        width: 50%;
    }

    .chart2 {
        float: left;
        width: 50%;
    }

    .charts > div > h3 {
        text-align: center;
    }
</style>


<div class="charts">
    <div class="chart1">
        <h3>Distance run (by date)</h3>
        <div class="ct-chart ct-golden-section" id="chart-distance-date"></div>
    </div>
    <div class="chart2">
        <h3>Pace (by date))</h3>
        <div class="ct-chart ct-golden-section" id="chart-pace-date"></div>
    </div>
</div>


<script>
  // Initialize a Line chart in the container with the ID chart1
  new Chartist.Line('#chart-distance-date', {
    labels: [{% for run in runs %}"{{run.date_posted.strftime('%d/%m/%Y, %H:%M')}}",{% endfor %}],
    series: [[{% for run in runs %}{{run.distance}},{% endfor %}]]
  });

  // Initialize a Line chart in the container with the ID chart2
  new Chartist.Bar('#chart-pace-date', {
    labels: [{% for run in runs %}"{{run.date_posted.strftime('%d/%m/%Y, %H:%M')}}",{% endfor %}],
    series: [[{% for run in runs %}{{run.run_time}}/{{run.distance}},{% endfor %}]]
  });
</script>



        <!-- <div class="ct-chart ct-perfect-fourth" id="chart-distance-date"></div>
        <div class="ct-chart ct-perfect-fourth" id="chart-pace-date"></div>
            <script type="text/javascript">


                new Chartist.Line('#chart1', {
                    labels: [{% for run in runs %}"{{run.date_posted.strftime('%d/%m/%Y, %H:%M')}}",{% endfor %}],
                    series: [[{% for run in runs %}{{run.distance}},{% endfor %}]]
  });

                // Create a new line chart object where as first parameter we pass in a selector
                // that is resolving to our chart container element. The Second parameter
                // is the actual data object.
                // new Chartist.Line('.ct-chart', data);


            </script> -->


    {% endblock content %}
