{% extends "base.html" %}

    {% block head %}
        <title> Add Run </title>
    {% endblock head %}

    {% block content %}
    <div class="main-box">
        <h1>Add Run</h1>
        <form class="" action="" method="post">
            {{form.hidden_tag()}}

            {{form.username.label}}
            {{form.username}}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
<br>
            {{form.password.label}}
            {{form.password}}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
<br>
            {{form.submit}}
        </form>
    </div>

    {% endblock content %}
